.card {
    width: 250px;
    margin: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(192, 192, 192, 0.459);
    border-radius: 30px;
    overflow: hidden;
    img {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.424);
        padding-top: 20px;
    }
    h2,
    h3,
    h4 {
        text-align: center;
        padding: 5px;
    }
    h2 {
        margin-top: 10px;
    }
}